dash==2.18.2
numpy==1.26.4
pandas==2.2.3
scikit_learn==1.6.1
scipy==1.15.2
matplotlib==3.10.1
seaborn==0.13.2
skimpy>0.0.8,<1.0.0
openpyxl==3.1.2
sqlalchemy==2.0.12
psycopg2==2.9.6
lifetimes==0.11.3
lightfm==1.17
polars==1.26.0
google-genai==1.8.0
